[Unit]
Description=Switch Cron Job Service
After=network.target

[Service]
WorkingDirectory=/home/frank/dev/switch-cron-job
ExecStart=/usr/local/bin/npm server
Restart=on-failure
User=root
Environment=PORT=3000

[Install]
WantedBy=multi-user.target
